<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/shoppingcart</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">9892353205m</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <property name="hibernate.show_sql">true</property>
  
  <mapping class="com.my.spring.pojo.User"/>
  <mapping class="com.my.spring.pojo.Email"/>
  <mapping class="com.my.spring.pojo.Person"/>
  <mapping class="com.my.spring.pojo.Advert"/>
  <mapping class="com.my.spring.pojo.Category"/>
  <mapping class="com.my.spring.pojo.Cart"/>
 </session-factory>
</hibernate-configuration>
